{% extends "base.html" %} {% block content %}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
            <form method="POST">
              {% csrf_token %} {{ registerform.as_p }}
              <input
                type="submit"
                value="Register"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
              />
              <p class="text-center text-muted mt-5 mb-0">
                Already a member?
                <a href="{% url 'my-login' %}" class="fw-bold text-body"
                  ><u>Login </u></a
                >
              </p>
            </form>
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
